body {
	background-image: url("moon.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 300%;
}

header {
	max-width: 90%;
	margin: 0 auto;
	padding: 0 10px;
	background-image: url("container1.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.container{
	max-width: 90%;
	margin: 0 auto;
	padding: 0 10px;
	background-color: transparent;
	background-size: 120%;
}

.about-container {
      overflow: hidden;
}

.about-img {
	float: left;
    width: 20%;
    height: auto;
	margin: 50px 50px 50px 200px;
}

.about-content {
    float: right;
    width: 50%;
    height: auto;
    background-image: url("stillness2.png");
	background-size: 100%;
    box-sizing: border-box;
    padding: 20px;
	margin: 70px 150px 50px 10px;
}

.poem-full {
	margin: auto;
	padding: 10px;
	color: black;
}

.content {
	margin: auto;
	padding: 10px;
	color: black
}

header {
	background-color: #ffffff;
	color: black;
	padding: 1em 0;
}

.nav {
	list-style: none;
	padding: 10px;
	margin: auto;
}

.nav-buttons {
	display: inline;
	margin-right: 20px;
}

a:link {
	color: black;
	text-decoration: none;
}

a:hover {
	color: purple;
	text-decoration: underline;
}

a:visited {
	color: powderblue;
	text-decoration: none;
}

a:active {
	color: purple;
	text-decoration: underline;
}
	
.main-container {
	margin: 20px 50px 20px 50px;
	background-image: url("stillness.png");
	width: 650px;
	height: auto;
}

.second-container {
	margin: 20px 50px 20px 50px;
	background-image: url("stillness.png");
	width: 650px;
	height: auto;
}

.poem-container {
	margin: 20px 50px 20px 50px;
	background-image: url("stillness.png");
	width: 600px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	flex-basis: 200;
}


#poems-collection {
	margin-top: 30px;
}

#line-otd {
	font-style: italic; 
	margin: 5px 5px 5px 5px;
	text-align: center;
	height: auto;
}

#line-otd h3 {
	color: #333
}

#line-otd p {
	font-style: italic;
	color: black;
}
	
#intro-section {
	margin: auto;
	padding: 10px;
}

.intro-title {
	font-size: 62px;
	font-family: Palatino;
}

h2 {
	color: black;
}

#lineoftheday {
	position: center;
	margin: 5px 5px 5px 5px;
	padding: 5px;
}

p {
	color: black;
	margin-left: 15px;
	margin-bottom: 15px;
}

#poems-read {
	margin: 10px 10px 10px 10px;
	padding: 10px;
}

.poem-title {
	margin: 7px 10px 7px 10px;
	padding: 10px;
	text-align: center;
}

.poem-content {
	margin: 10px 10px 10px 10px;
	padding: 10px;
}
